<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.program.pvr.playlist.helper">
    <category id="general" label="30010" help="30600">
      <group id="1" label="30110">
        <setting id="m3u_path_type" type="integer" label="30000" help="30601">
          <level>0</level>
          <default>1</default>
          <constraints>
            <options>
              <option label="30001">0</option> <!-- LOCAL_PATH -->
              <option label="30002">1</option> <!-- REMOTE_PATH -->
            </options>
          </constraints>
          <control type="spinner" format="integer" />
        </setting>
        <setting id="m3u_path" type="path" parent="m3u_path_type" label="30011" help="30602">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="m3u_path_type" operator="is">0</dependency>
          </dependencies>
          <control type="button" format="file">
            <heading>1033</heading>
          </control>
        </setting>
        <setting id="m3u_url" type="string" parent="m3u_path_type" label="30012" help="30603">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="m3u_path_type" operator="is">1</dependency>
          </dependencies>
          <control type="edit" format="string" />
        </setting>
      </group>

      <group id="20" label="30018">
        <setting id="m3u_refresh_mode" type="integer" label="30015" help="30607">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30003">0</option>
              <option label="30004">1</option>
            </options>
          </constraints>
          <control type="list" format="integer" />
        </setting>
        <setting id="m3u_refresh_interval_mins" type="integer" parent="m3u_refresh_mode" label="30016" help="30608">
          <level>0</level>
          <default>240</default>
          <constraints>
            <minimum>0</minimum>
            <step>15</step>
            <maximum>1440</maximum>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="m3u_refresh_mode" operator="is">1</dependency>
          </dependencies>
          <control type="slider" format="integer">
            <formatlabel>14044</formatlabel>
          </control>
        </setting>
      </group>


      <group id="2" label="30210">
        <setting id="concat_second_playlist" type="boolean" label="30078" help="30079">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>

        <setting id="m3u2_path_type" type="integer" label="30000" help="30601">
          <level>0</level>
          <default>1</default>
          <constraints>
            <options>
              <option label="30001">0</option> <!-- LOCAL_PATH -->
              <option label="30002">1</option> <!-- REMOTE_PATH -->
            </options>
          </constraints>
           <dependencies>
            <dependency type="visible" setting="concat_second_playlist" operator="is">true</dependency>
          </dependencies>
          <control type="spinner" format="integer" />
        </setting>
        <setting id="m3u2_path" type="path" parent="m3u2_path_type" label="30011" help="30602">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="concat_second_playlist" operator="is">true</dependency>
            <dependency type="visible" setting="m3u2_path_type" operator="is">0</dependency>
          </dependencies>
          <control type="button" format="file">
            <heading>1033</heading>
          </control>
        </setting>
        <setting id="m3u2_url" type="string" parent="m3u2_path_type" label="30012" help="30603">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="concat_second_playlist" operator="is">true</dependency>
            <dependency type="visible" setting="m3u2_path_type" operator="is">1</dependency>
          </dependencies>
          <control type="edit" format="string" />
        </setting>
      </group>

      <group id="3" label="30310">
        <setting id="copy_playlist" type="boolean" label="30080" help="30081">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="copy_to_folder" type="path" parent="copy_playlist" label="30211" help="30602">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="copy_playlist" operator="is">true</dependency>
          </dependencies>
          <control type="button" format="path">
            <heading>1033</heading>
          </control>
        </setting>
      </group>

    </category>

    <category id="map_settings" label="30020" help="30120">
      <group id="30" label="30019">
       <setting id="map_path_type" type="integer" label="30000" help="30621">
          <level>0</level>
          <default>1</default>
          <constraints>
            <options>
              <option label="30001">0</option> <!-- LOCAL_PATH -->
              <option label="30002">1</option> <!-- REMOTE_PATH -->
            </options>
          </constraints>
          <control type="spinner" format="integer" />
        </setting>
        <setting id="map_path" type="path" parent="map_path_type" label="30021" help="30622">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>false</writable>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="map_path_type" operator="is">0</dependency>
          </dependencies>
          <control type="button" format="file">
            <heading>1033</heading>
          </control>
        </setting>
        <setting id="map_url" type="string" parent="map_path_type" label="30022" help="30623">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="map_path_type" operator="is">1</dependency>
          </dependencies>
          <control type="edit" format="string" />
        </setting>
        <setting id="reorder_playlist" type="boolean" label="30023" help="30024">
          <level>0</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="only_streams_from_map" type="boolean" label="30025" help="30026">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>
    </category>

    <category id="backend" label="30050">
      <group id="40" label="30050">
        <setting id="bind_all" type="boolean" label="30051" help="30052">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="port" label="30053" type="string" default="18910" help="30054">
          <level>0</level>
          <default>18910</default>
          <control type="edit" format="string" />
        </setting>
        <setting id="stream_ip" type="string" label="30055" help="30056">
          <level>0</level>
          <default>127.0.0.1</default>
          
          <control type="edit" format="string" />
        </setting>
        <!--<setting label="Използвано IP на видео потоците в плейлистата:" type="text" id="stream_ip" default="127.0.0.1" /> -->
      </group>
    </category>

    <category id="extras" label="30070">
      <group id="50" label="30070">
        <setting id="debug" type="boolean" label="30074" help="30075">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>
    </category>
  </section>
</settings>