<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Акаунт">
		<setting id="username" type="text" label="Потребител:" />
		<setting id="password" type="text" option="hidden" label="Парола:" />
	</category>
	<category label="Общи">
    <!-- <setting type="sep"/> -->
		<setting id="append_ua" type="bool" label="Имперсонирай ExoPlayer при възпроизвеждане" default="true" />
    <setting type="sep"/>
		<setting id="refresh_interval" type="number" label="Време за обновяване на списъка с каналите (часове)" default="1"/>
    <setting type="sep"/>
		<setting id="rebuild_cache" type="bool" label="Изчисти кеш с ТВ каналите:" />
    <setting type="sep"/>
		<setting id="rebuild_user_data" type="bool" label="Изчисти кеш с потребителскитете данни:" />
    <setting type="sep"/>
		<setting id="debug" type="bool" label="Разширен лог:" />
	</category>
</settings>
